.openerp div.oe_purchase_help {
    background : #D6EBFF;
    width: 100%;
    padding: 10px;
    border: 3px solid #C1D4E6;
}

.openerp p.oe_purchase_font_help{
    text-align: left;
    font-weight: bold;
    margin: 0px;
    font-size: 14px;
}

.openerp p.oe_purchase_font_content{
    margin-left: 30px;
    font-size: 14px;
}

.openerp p.oe_purchase_font_title{
    /* margin-top: 7px;
    font-size: 15px; */
    font-style: italic;
    color: rgb(8, 8, 8);
}

